---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
A portable, mechanical carb counter replaces complex apps and ensures fast, convenient tracking.
`;
---

<Layout title="Dose simply. Manage smarter. Health is in your hands.">
    <h1 class="mb-10">Netlify Platform Starter for Astro</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
